<!DOCTYPE html>
<html>
<head>
    <title>Stats</title>
    <style>
        body { text-align:center; font-family: Arial; background:#0f172a; color:white; }
        .btn {
            display:inline-block;
            padding:20px;
            margin:20px;
            background:#38bdf8;
            border-radius:10px;
            text-decoration:none;
            color:black;
            font-size:20px;
            font-weight:bold;
        }
    </style>
</head>
<body>

<h1>📊 Stats Section</h1>

<a href="/batting_stats" class="btn">🏏 Batting Stats</a>
<a href="/bowling_stats" class="btn">🎯 Bowling Stats</a>

</body>
</html>